.typ-workspace-floating.wikilink-preview {
  display: flex;
  flex-direction: column;
  padding: 36px 0px 12px;

  .wikilink-preview__content {
    flex: 1;
    min-height: 0;
    max-height: 70vh;
    padding: 1rem;
    overflow-y: auto;
  }
}
